extends layout

block content
  .content
    h1= title
    if brands_list.length 
        ul 
            each brand in brands_list 
                li.listed-item 
                    a(href=brand.url) #{brand.name}
    else    
        p There s no Brands
    a.create-btn(href='/brands/create') Create Brand