extends layout

block content
  .content
    h1=title
    form(method='POST').info-box
        .input-group
            label.label(for='brand_name') Brand Name:
            input#brand_name.input-field(type='text' name='brand_name' minlength='3' maxLength='100' placeholder='Brand Name' required value=(brand === undefined ? '' : brand.name))
        input.edit-btn(type='submit' value='Submit')

    if errors
        ul
        for error in errors
            li!= error.msg