extends layout

block content
  .content
    h1 BRAND DETAIL
    .info-box
      .detail-info
        p Brand Name
        p=brand.name
      .ops-btn
          a(href=brand.url+'/delete').delete-btn Delete
          a(href=brand.url+'/edit').edit-btn Edit