extends layout

block content
  .main
    p.titles Brand Name
    p=brand.name
    .is-grouped.buttons 
        a(href=brand.url+'/delete').button.is-danger.is-outlined.is-medium Delete
        a(href=brand.url+'/edit').button.is-warning.is-outlined.is-medium Edit