extends layout

block content
  .content
    h1=title
    form(method='POST').info-box
        .input-group
            label.label(for='category_name') Category Name:
            input#category_name.input-field(type='text' name='category_name' minlength='3' placeholder='Name your Category' required value=(category === undefined ? '' : category.name))
        .input-group
            label.label(for='category_description') Category Description:
            textarea#category_description.input-field(name='category_description' required placeholder='Describe your Category')=(category === undefined ? '' : category.description)
        input.edit-btn(type='submit' value='Submit')

    if errors
        ul
        for error in errors
            li!= error.msg