extends layout

block content
  .content
    h1= title
    if categories_list.length 
        ul 
            each category in categories_list 
                li.listed-item
                    .message-header
                        a(href=category.url) #{category.name}
    else    
        p There s no Categories
    a.create-btn(href='/categories/create') Create Category