extends layout

block content
  .content
    h1= title
    if items_list.length 
        ul 
            each item in items_list 
                li.listed-item
                    a(href=item.url) #{item.name}
    else    
        p There s no Items
    a.create-btn(href='items/create') Create Item