extends layout

block content
  .main
    form(method='POST')
        p.confirmation Are u sure you want to delete
        br
        p=item.name
        br
        .is-grouped.buttons 
            input(type="hidden", name='id' value=item._id)
            button(type='submit').button.is-danger.is-outlined.is-medium Delete
            a(href=item.url).button.is-warning.is-outlined.is-medium Cancel