extends layout

block content
  .main
    h1= title
    if items_list.length 
        ul 
            each item in items_list 
                li 
                    a(href=item.url) #{item.name}
                    br
                    p=item.description
    else    
        p There s no Items