extends layout

block content
  .content
    h1 DELETE ITEM
    form(method='POST').info-box
        p Are u sure you want to delete?
        p=item.name
        .ops-btn
            input(type="hidden", name='id' value=item._id)
            button.delete-btn(type='submit') Delete
            a.cancel-btn(href=item.url) Cancel