doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect",href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet")

  body
  .header 
  .main 
    .sidebar
      a(href='/') Home
      a(href='/items') Items
      a(href='/categories') Categories
      a(href='/brands') Brands
    block content
 
    
