doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css")
  body
  .sidebar
    a.button.is-warning.is-light(href='/') Home
    br
    a.button.is-warning.is-light(href='/items') Items
    br
    a.button.is-warning.is-light(href='/categories') Categories
    br
    a.button.is-warning.is-light(href='/brands') Brands
    br
  block content
 
    
