doctype html
html(lang='en')
  head
    title EC Inventory App
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect",href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet")
    <meta name="viewport" content="width=device-width,initial-scale=1">
  body
  .main 
    .sidebar
      a(href='/') Home
      a(href='/items') Items
      a(href='/categories') Categories
      a(href='/brands') Brands
      a(href='https://github.com/Eligio93/inventory-app', target='_blank') GITHUB
    block content
 
    
